@import "~styles/variables";

.message {
  $self: &;

  &__content {
    display: flex;
    max-width: 440px;
    margin-bottom: 15px;
  }

  &__checked-icon {
    align-self: flex-end;
    margin-right: 7px;

    img {
      color: #999999;
      width: 13px;
      height: 13px;
    }
  }

  &__attachments {
    display: flex;

    &-item {
      margin-right: 6px;
      cursor: pointer;

      img {
        width: 45px;
        height: 45px;
        border-radius: 6px;
      }
    }

    &-image {
      img {
        width: 150px;
        height: 150px;
        border-radius: 6px;
      }
    }
  }


  &__block {
    display: flex;

    &-content {
      display: flex;
      flex-direction: column;
    }

  }

  &__avatar {
    display: flex;
    flex-direction: column-reverse;

    img {
      border-radius: 50px;
      width: 33px;
      height: 33px;
      margin-right: 13px;
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 31px;
    }
  }

  &__bubble {
    background: $blue;
    box-shadow: 0 5px 5px rgba(54, 116, 255, 0.2);
    border-radius: 12px 12px 12px 0;
    padding: 15px;
    margin-bottom: 8px;

    &_is-typing {
      background-color: $message-typing-blue;
      box-shadow: 0 2px 2px rgba(54, 116, 255, 0.1);
    }
  }

  &__date {
    font-size: 12px;
    opacity: 0.4;
  }

  &__text {
    color: #fff;
    line-height: 20px;
  }

  &__is_me {
    display: flex;
    flex-direction: row-reverse;

    #{$self}__checked-icon {
      align-self: flex-end;
      margin-right: 7px;

      img {
        color: #999999;
        width: 13px;
        height: 13px;
      }
    }

    #{$self}__content {
      flex-direction: row-reverse;
      margin-bottom: 10px;
    }

    #{$self}__avatar {
      img {
        margin-right: 0;
        margin-left: 13px;
      }
    }

    #{$self}__info {
      align-items: center;
      text-align: right;
    }

    #{$self}__block {
      display: flex;

      &-content {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    #{$self}__bubble {
      background: #ffffff;
      border: 1px solid #ececec;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.02);
      border-radius: 12px 12px 0 12px;
      order: 2;

      #{$self}__text {
        color: $black;
      }

      #{$self}_is-typing {
        background-color: $message-typing-blue;
        box-shadow: 0 2px 2px rgba(54, 116, 255, 0.1);
      }
    }

  }
}

.typing_indicator {
  will-change: transform;
  width: auto;
  border-radius: 50px;
  padding: 3px;
  display: flex;
  margin: 0 auto;
  position: relative;
  animation: 2s bulge infinite ease-out;

  span {
    height: 15px;
    width: 15px;
    background-color: $message-typing-circle;
    display: block;
    margin-right: 5px;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * .3333s);
      }
    }

    &:nth-of-type(3) {
      margin-right: 0;
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}